body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr auto;
    gap: 15px;
    font-family: Arial, Helvetica, sans-serif;


}



header {
    background-color: #47A172;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    padding: 10px;
    grid-column: 1/4;
}

header img {
    width: 60px;
}

#titulo {
    width: 90%;
    background: linear-gradient(to right, #77C593, #47A172);
    text-align: center;
}

#text h1 {
    font-size: 1.5rem;
}

#text h2 {
    font-size: 1rem;
}

footer {
    grid-column: 1/4;

}

nav,
main,
aside,
footer {
    border: 1px black solid;
}

nav ul {
    text-decoration: none;
    list-style: none;
}

#Izq, #Der {
    padding: 20px;
}

#Izq {
    width: 50%;
    border-radius: 10px;

    justify-content: space-between;
    padding: 10px;
    grid-column: 1/4;
    border: 1px black solid;
    margin-left: 40px;

}

#Izq img {
    width: 100%;
    border-radius: 10px;
}

#Der {
    width: 50%;
    border-radius: 10px;

    border: 1px black solid;

    justify-content: space-between;
    padding: 10px;
    grid-column: 1/4;
    padding: 20px;
    margin-left: 40px;
}

#Der img {
    width: 100%;
    border-radius: 10px;
}

main {
    display: flex;
}

ul li {
    color: #47A172;
    text-align: left;
    font-weight: bold;
}

footer {

    background-color: #47A172;
    width: auto;
    border-radius: 5px;


}

#texto {

    color: white;
    text-align: center;


}

aside {

    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    text-align: left;


}

aside h3 {
    padding: 20px ;
}


aside li {
    text-align: left;
    margin-left: 15px;
    margin-top: auto;
    
}