body {
   
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    
}


header {

    grid-column: 1/4 ;
    padding: 5px;
    background-color: aliceblue;

    display: flex;
    justify-content: space-evenly;





   
    
}



footer {

    grid-column: 1/4;
    padding: 5px;
    background-color: aliceblue;

    display: flex;
    justify-content: space-evenly;

    
}



